body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bar-nav{
    background-color: #6e5773;
    color: #ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

article {
    background-color:#e9e2d0;
    color:black;
    width: 700px;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.container-main {
    width: 50%;
}
.container-main p {
    font-size: 10px;
}

article img {
    width: 100%;
    height: auto;
}

#tarjetas-principal{
    background-color:#e9e2d0;
    width: 100%;
    margin: 50px;

}

#cards {
    background-color: #6e5773;
    color: #ffff;
    width: 100%;
    height: 300px;
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#cards div {
    width: 20%;    
}
#cards img {
    width: 20%;
    height: auto;
}
#card:hover {
    border: 1px solid #e9e2d0;
  }

#myModal {
    width: 450px;
    height: 350px;
    position: fixed;
    top: 30px;
    left: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 30px;
    background-color: white
}
#myModal div img {
    width: 50%;
    height: auto;
}

.desc-long p{
    font-size: 10px;
}
  .nomostrar {
    display: none;
}


footer {
    background-color: #6e5773;
    color: #e9e2d0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-icon div i{
 padding: 10px;
}
